* {
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 25px;
  color: rgba(186, 11, 11, 0.743);
}

.bottone {
  padding: 5px 10px;
  background-color: rgba(11, 184, 54, 0.669);
  border: solid 1px black;
  cursor: pointer;
  margin: 5px;
}

.bottone:hover {
  opacity: 0.5;
}

.main {
  margin: 20px auto;
  max-width: 200px;
  background-color: rgba(218, 228, 238, 0.817);
  padding: 20px;
  border: solid 2px black;
  text-align: center;
}

div {
  padding: 10px 0;
}
